br

.grid-container.grid-container--fluid
    .grid-cols-wrap
        .grid-col.row-xs-1.col-xs-1-13.col-sm-1-7.row-sm-1.col-md-1-5.row-md-1.col-lg-1-4.row-lg-1
            .col-inner 1
        .grid-col.row-xs-2.col-xs-1-13.col-sm-7-13.row-sm-1.col-md-5-9.row-md-1.col-lg-5-9.row-lg-1
            .col-inner 2
        .grid-col.row-xs-3.col-xs-1-13.col-sm-1-13.row-sm-2.col-md-9-13.row-md-1.col-lg-10-13.row-lg-1
            .col-inner 3
        .grid-col.row-xs-4.col-xs-1-13.col-sm-1-12.row-sm-3.col-md-1-7.row-md-2.col-lg-1-6.row-lg-2
            .col-inner 4
        .grid-col.row-xs-5.col-xs-1-13.col-sm-2-13.row-sm-4.col-md-7-13.row-md-2.col-lg-8-13.row-lg-2
            .col-inner 5

br

.grid-container.grid-container--fluid
    .grid-cols-wrap
        .grid-col.row-xs-1.col-xs-1-13.col-sm-1-7.row-sm-1.col-md-1-5.row-md-1.col-lg-1-4.row-lg-1
            .col-inner 1
        .grid-col.row-xs-2.col-xs-1-13.col-sm-7-13.row-sm-1.col-md-5-9.row-md-1.col-lg-5-9.row-lg-1
            .col-inner 2
        .grid-col.row-xs-3.col-xs-1-13.col-sm-1-13.row-sm-2.col-md-9-13.row-md-1.col-lg-10-13.row-lg-1
            .col-inner 3
        .grid-col.row-xs-4.col-xs-1-13.col-sm-1-12.row-sm-3.col-md-1-7.row-md-2.col-lg-1-6.row-lg-2
            .col-inner 4
        .grid-col.row-xs-5.col-xs-1-13.col-sm-2-13.row-sm-4.col-md-7-13.row-md-2.col-lg-8-13.row-lg-2
            .col-inner 5